$primary-color: #1890ff;
$background-color: #fff;
$text-color: #1f1f1f;
$info-bg-color: #f0f7ff;
$danger-color: #ff4d4f;
$shadow-color: rgba(0, 0, 0, 0.1);

.employee-management {
  padding: 54px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -50px;

  .ant-tabs-nav {
    display: flex;
    justify-content: center;
    width: 100%;

    &::before {
      display: none;
    }

    .ant-tabs-nav-wrap {
      justify-content: center;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 24px;
    border-bottom: 2px solid $primary-color;
    padding-bottom: 12px;
  }

  .add-employee-form {
    .form-columns {
      display: flex;
      border: 1px solid #e8e8e8;
      box-shadow: #333 0px 0px 10px 0px;
      gap: 20px;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      box-shadow: 0 2px 12px rgba(22, 22, 43, 0.795);

      .form-column {
        flex: 1;
      }
    }

    .submit-button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 20px;
    }

    background-color: $background-color;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px $shadow-color;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 2px 12px rgba(22, 22, 43, 0.795);

    .ant-form-item {
      max-width: 100%;

      .ant-form-item-control-input {
        width: 100%;
      }
    }
  }

  .manage-employees {
    background-color: $background-color;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px $shadow-color;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: #333 0px 0px 10px 0px;
  }
}
